<h2>Commit log and change files list from: <%= @repository_url %></h2>
<%= form_tag('./index') do %>
  from:<%= text_field_tag("from") %>
  to:<%= text_field_tag("to") %>
  <%= submit_tag('submit') %>
<% end %>
/ [ticket add]
 <% if @error_message %>
  <p><%= @error_message %></p>
<% else %>
  <% @log.each do |log|
     revision = log[0]
     commit_log = simple_format(log[1]["msg"])
     files = log[1]["path"]
  %>

  <hr />
  <p>r<%= revision %></p>
  <%= commit_log %>
  <ul>
  <% files.each do |file| %>
    <li><%= file %></li>
  <% end %>
  </ul>
  <% end %>

<% end %>
